<body>
  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <h2>Cadastro de Pets</h2>
              <form>
                  <div class="form-group">
                      <label for="nome">Nome:</label>
                      <input type="text" class="form-control" id="nome" formControlName="nome">
                  </div>
                  <div class="form-group">
                      <label for="especie">Espécie:</label>
                      <input type="text" class="form-control" id="especie" formControlName="especie">
                  </div>
                  <div class="form-group">
                      <label for="idade">Idade:</label>
                      <input type="number" class="form-control" id="idade" formControlName="idade">
                  </div>
                  <div class="form-group">
                      <label for="descricao">Descrição:</label>
                      <textarea class="form-control" id="descricao" formControlName="descricao" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
              </form>
          </div>
      </div>
  </div>
