<footer class="text-center text-lg-start text-white fixed-bottom" style="background-color: #1c2331; width: 100%;">

  <section class="d-flex justify-content-between p-4" style="background-color: #6351ce;">
  </section>

  <section class="">

      <div class="container text-center text-md-start mt-5">

          <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold">Carrocinha do Bem</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
                  <p>Adote seu pet hoje</p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Pets</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
                  <p>
                      <a href="#!" [routerLink]="['/home']" class="text-white">Ver pets</a>
                  </p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold">Contatos</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
                  <p><i class="fas fa-home mr-3"></i> Curitiba, Paraná</p>
                  <p><i class="fas fa-envelope mr-3"></i> CarrocinhaDoBem&#64;gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 55 (41) 11111-0000</p>
              </div>
          </div>
      </div>
  </section>
</footer>
